.btn {
  margin-top: 80%;
  background-size: 100% 100%;
  width: 50px;

  height: 50px;
  border-radius: 50%;
  background-color: darkblue;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}
