.title {
  position: absolute;
  width: 100%;
  margin-top: 3%;
  text-align: center;
  font-size: 1rem;
  color: darkblue;
}
.chart-container {
  margin: 10% 15% 5% 15%;
  position: absolute;
  width: 70%;
  height: 60%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
