.chart-value-label {
  text-anchor: end;
  fill: grey;
  font-weight: 900;
  font-size: 0.3em;
}
.chart-unit-label {
  transform-origin: left;
  transform: rotate(-90deg);
  position: absolute;
  fill: darkblue;

  font-weight: 900;
  font-size: 0.3em;
}
