.popup-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-header {
  text-align: left;
  margin-left: 5%;
  color: darkblue;
}
.popup-text {
  display: block;
  margin-bottom: 5%;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  right: 25%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 15px;
  text-align: center;
  font-size: 20px;
  border: none;
}

.close-icon:hover {
  color: red;
  transition: 0.3s;
}
